section.main {
    background-color:aquamarine;
    padding-top: 50px;
    padding-bottom: 50px;
}
.smain{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;

}
h1{
    font-family: monospace;
    font-weight: 600;
    font-size: 35px;
}

p{
    font-family: monospace;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
}